[Unit]
Description=HomeHub backend service
After=network.target

[Service]
Type=simple
User=homehub
Environment=PYTHONUNBUFFERED=1
WorkingDirectory=/home/homehub/OmniHub/server
ExecStart=/home/homehub/OmniHub/server/.venv/bin/gunicorn \
	--worker-class eventlet -w 1 \
	--bind 0.0.0.0:5000 \
	"app:app"
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
